---
- name: Check current postfix_exporter version.
  command: "{{ postfix_exporter_bin_path }} --version"
  failed_when: false
  changed_when: false
  register: postfix_exporter_version_check

- name: copy postfix_exporter into location
  copy:
    src: postfix_exporter
    dest: /usr/local/bin/postfix_exporter
    owner: postfix_exporter
    group: root
    mode: '0770'
  when: >
    postfix_exporter_version_check.stdout is not defined

- name: Create postfix_exporter user.
  user:
    name: postfix_exporter
    groups: postfix, postdrop, adm
    shell: /sbin/nologin
    state: present


- name: Copy the postfix_exporter systemd unit file.
  template:
    src: postfix_exporter.service.j2
    dest: /etc/systemd/system/postfix_exporter.service
  register: postfix_exporter_service

- name: Reload systemd daemon if unit file is changed.
  systemd:
    daemon_reload: true
  notify: restart postfix_exporter
  when: postfix_exporter_service is changed

- name: Ensure postfix_exporter is running and enabled at boot.
  service:
    name: postfix_exporter
    state: "{{ postfix_exporter_state }}"
    enabled: "{{ postfix_exporter_enabled }}"

- name: Verify postfix_exporter is responding to requests.
  uri:
    url: http://localhost:9154
    return_content: true
  register: metrics_output
  failed_when: "'Metrics' not in metrics_output.content"
